section {
  span {
    div {
      margin-left: 20%;
      &:first-child {
        margin-left: 5%;
        max-width: 200px;
      }
    }

    p {
      margin-left: 5%;
      font-size: 16px;
      max-width: 900px;
    }

    .separator {
      height: 8px;
      width: 90px;
    }
  }
}
