<div
  class="legend__container align-items-center d-flex justify-content-center p-3"
>
  <ul class="align-items-start d-flex justify-content-around">
    <li>
      <p>{{ mask }}</p>
      <div>
        <div>
          <img
            src="assets/required-mask.png"
            alt="Máscara obrigatória"
            width="60"
          />
          <p>{{ required }}</p>
        </div>
        <div>
          <img
            src="assets/recommended-mask.png"
            alt="Máscara recomendada"
            width="60"
          />
          <p>{{ recommended }}</p>
        </div>
      </div>
    </li>
    <li>
      <p>{{ towel }}</p>
      <div>
        <div>
          <img
            src="assets/required-towel.png"
            alt="Toalha obrigatória"
            width="60"
          />
          <p>{{ required }}</p>
        </div>
        <div>
          <img
            src="assets/recommended-towel.png"
            alt="Toalha recomendada"
            width="60"
          />
          <p>{{ recommended }}</p>
        </div>
      </div>
    </li>
    <li>
      <p>{{ fountain }}</p>
      <div>
        <div>
          <img
            src="assets/partial-fountain.png"
            alt="Bebedouro parcial"
            width="60"
          />
          <p>{{ partial }}</p>
        </div>
        <div>
          <img
            src="assets/forbidden-fountain.png"
            alt="Bebedouro proibido"
            width="60"
          />
          <p>{{ forbidden }}</p>
        </div>
      </div>
    </li>
    <li>
      <p>{{ lockerroom }}</p>
      <div>
        <div>
          <img
            src="assets/required-lockerroom.png"
            alt="Vestiário obrigatório"
            width="60"
          />
          <p>{{ free }}</p>
        </div>
        <div>
          <img
            src="assets/partial-lockerroom.png"
            alt="Vestiário parcial"
            width="60"
          />
          <p>{{ partial }}</p>
        </div>
        <div>
          <img
            src="assets/forbidden-lockerroom.png"
            alt="Vestiário fechado"
            width="60"
          />
          <p>{{ closed }}</p>
        </div>
      </div>
    </li>
  </ul>
</div>
