@import "bootstrap/dist/css/bootstrap.min.css";

:root {
  --dark-grey: #333333;
  --green: #2fc022;
  --light-grey: #808080;
  --red: #dc0a17;
  --yellow: #ffb612;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
